{% extends 'Solver/solver.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href= {%static "css/verify.css" %}>
{% endblock css %}

{% block script %}
    <script src= {%static "js/modify-grid.js"%} defer></script>
{% endblock script %}

{% block hero %}
    <div class="validate-msg">
        <div class="special-note">
            <span class="emphasis-text"> Validation </span> <br> <br>
            Please validate and correct the detections before proceeding to generate solution. <br><br>
            <button class="custom-btn btn-11">Proceed</button>
        </div>
        <span class="note"> <span class = 'bold'>Note : </span> 
        Click on grid cells to toggle the color. <br>
        Edit clues in the text area.
        </span> 
    </div>

    <div class="crossword">
        <div class="grid-and-options">
            <div class="grid">
                {% for row_data in grid_rows %}
                <div class="grid-row">
                    {% for num,data in row_data %}
                        {% if data == "." %}
                        <div class="grid-cell dead-cell">
                            <div class="cell-num"></div>
                            <div class="cell-data"></div>
                        </div>
                        {% else %}
                            <div class="grid-cell">
                                <div class="cell-num">
                                    {% if num != 0 %} {{num}}{% endif %}
                                </div>
                                {% comment %} <div class="cell-data"> {{data}}</div> {% endcomment %}
                                <div class="cell-data"></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>     
                {% endfor %}
            </div>
    
            <div class="grid-change-options">
                <div class="decrease-button"><div>_</div></div>
                <div class="dimension-info">15 X 15</div>
                <div class="increase-button">+</div>
            </div>
        </div>
        <div class="clues">
            <div class="across-clues">
                <div class="clue-head-title" > Across </div>
                {% for clue in across_clues %}
                    <span class="across-clue" contenteditable> {{clue|safe}}</span>
                {% endfor %}
            </div>
            <div class="down-clues">
                <div class="clue-head-title" > Down </div>
                {% for clue in down_clues %}
                    <span class="down-clue" contenteditable> {{clue|safe}}</span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock hero %}