.validate-msg{
    padding: 1rem;
    text-align: center;
    background-color: var(--secondary-blue);
    color: white;
    min-width: var(--breakpoint-lg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.special-note{
    width: 25rem;
    padding: 1rem;
    margin: 0.5rem;   
    background-color: var(--light-white); 
    color: #000;
    box-shadow: 0 7px 0 0 var(--secondary-blue-dark);
    border-radius: 5px;
}

.emphasis-text{
    font-size: var(--font-size-logo);
    border-bottom: 2px solid black;
    font-weight: bold;
}


.note{
    font-size: var(--font-size-small);
}
.bold{
    font-weight: bold;
    font-size: 1rem;
}


.crossword{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin: 3rem 0;
}
.clues{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: 30rem;
}

.across-clues, .down-clues{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 15rem;
    overflow-y: scroll;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    height: 100%;
}

.clue-head-title{
    font-size: var(--font-size-normal);
    box-shadow: 0px 1px 0px rgba(0,0,0,.2);
    font-weight: bolder;
    
}

.grid{
    width: 30rem;
    height: 30rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;

}
.grid-row{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.grid-cell{
    flex-grow: 1;
    box-shadow: 1px 1px 0px rgba(0,0,0,.2);
    position: relative;
}
.dead-cell{
    background-color: black;
}  
.cell-num{
    font-size: 0.6rem;
    font-weight: 500;
    position: absolute;
}
.cell-data{
    font-size: 1.2rem;
    text-align: center;
    line-height: 2rem;
    font-weight: bold;
}



  